.footer__copyright {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: rgba(33, 33, 33, 0.7);
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0;
}
